<mat-toolbar *ngIf="artistData.length > 0">
    <span class="header-title">Aritsts</span>
</mat-toolbar>
<mat-grid-list class="home-root" cols="5" rowHeight="1:1">
    <mat-grid-tile *ngFor="let item of artistData">
        <app-card [artist] = "item"></app-card>
    </mat-grid-tile>
</mat-grid-list>

<mat-toolbar *ngIf="artistData.length > 0">
    <span class="header-title">Albums</span>
</mat-toolbar>
<mat-grid-list class="home-root" cols="5" rowHeight="1:1">
    <mat-grid-tile *ngFor="let item of albumData">
        <app-card [artist] = "item"></app-card>
    </mat-grid-tile>
</mat-grid-list>
